<div>
  <div class="emp-column" (click)='employeeDetails()'>{{employee.id}} <img [src]='employee.photoPath' width='60'></div>
  <div class="emp-column">{{employee.firstName}}</div>
  <div class="emp-column">{{employee.lastName}}</div>
  <div class="emp-column">{{employee.company}}</div>
  <div class="emp-column">{{employee.email}}</div>
  <div class="emp-column">
    <button class="btn btn-primary" (click)='editEmployee()'>edit</button>
    <button class="btn btn-primary" (click)='confirmDelete = true'>delete</button>
  </div>
</div>
<div class="modal-box" *ngIf='confirmDelete'>
  <div class="modal-box-title">
    confirm
  </div>
  <div class="modal-box-footer">
    <button class="btn btn-secondary" (click)='confirmDelete = false'>cancel</button>
    <button class="btn btn-danger" (click)='deleteEmployee();confirmDelete = false'>delete</button>
  </div>
</div>
